.example-header-image {
    background: url('../../assets/bitcoin.png');
    background-size: cover;;
}

.ctrls {
    display: flex;
    flex-flow: column;

}

.field {
    width: 100%;
}

.value {
    font-size: 36px;
    line-height: 1.4;
}

.example-card {
    max-width: 280px;
}