.example-header-image {
    background: url('../../assets/bitcoin.png');
    background-size: cover;;
}

:host {
    width: 1000px;
}

.ctrls {
    display: flex;
    flex-wrap: nowrap;
    & > * {
        margin-right: 20px;
    }
}

.value {
    font-size: 36px;
    line-height: 1.4;
}